.cdk-global-overlay-wrapper, .cdk-overlay-container {
    z-index: 99999 !important;
  }

.artwrok-search-control {
    position: relative;
  
    .dropdown-menu {
      width: 100%;
      padding: .5rem;
      border: 1px solid $arttwork-background-color !important;
      top: .5rem !important;
      box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
    
      -webkit-animation: dropdown-menu-fade-in .3s ease 1, dropdown-menu-move-up .3s ease-out 1;
      animation: dropdown-menu-fade-in .3s ease 1, dropdown-menu-move-up .3s ease-out 1;
    
      .dropdown-item {
        padding: .75rem;
        border-radius: $arttwork-border-radius;
        &.active {
          background-color: $arttwork-background-color;
        }
        .artwork-search__item {
          display: flex;
          align-items: center;
          overflow: hidden;
  
          .artwork-search__item-img {
            > img {
              width: 40px;
              height: 40px;
              border-radius: 50%;
            }
          }
          .artwork-search__item-wrapper {
            overflow: hidden;
            padding-left: .875rem;
            .artwork-search__item-title {
              font-size: 1rem;
              color: $arttwork-primary-color;
              margin-bottom: .5rem;
              max-width: 467px;
            }
            .artwork-search__item-desc {
              font-size: .875rem;
              color: $arttwork-secondary-color;
              max-width: 467px;
            }
          }
        }
      }
    }
    
    &.artwrok-search__product .wrap {
      .input-group {
          flex: 1;
          margin-right: 1.25rem;
          &:focus {
            border: 1px solid red;
          }
      }
    }
    
    .artwork-search__term {
      border: none;
      background-color: $arttwork-background-color;
      font-size: .875rem !important;
      &::placeholder {
        font-size: .875rem !important;
      }
    }
  
    
    .artwork-search__new-product {
      font-size: .875rem !important;
      font-weight: 600 !important;
    }
    .input-group-text {
      border: none;
      background-color: $arttwork-background-color;
      i {
        color: $arttwork-secondary-color;
        font-size: .875rem;
      }
    }
    margin-bottom: 1.875rem;
  }
  
  .artwork-util__text-ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  
  .artwork-product-panel-label, .collectors-panel-label {
    font-size: 1rem;
    color: $arttwork-secondary-color;
    font-weight: 500 !important;
    margin-bottom: 1rem;
  }
  
  .artwork-product-feature {
    padding: 1rem;
    border-radius: $arttwork-border-radius;
    background-color: $arttwork-background-color;
    margin-bottom: 1.875rem;
    &.has-border {
      border: 2px solid $arttwork-blue-family-color;
    }
    .artwork-product-feature__image {
      margin-right: 13px;
      > img {
        width: 64px;
        height: 64px;
        object-fit: cover;
        object-position: center;
        border-radius: 6px;
      }
    }
    .artwork-product-feature__content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      .artwork-product-feature__title {
        max-width: 500px;
        font-size: 1rem;
        color: $arttwork-primary-color;
      }
      .artwork-product-feature__price {
        max-width: 500px;
        font-size: .875rem;
        color: $arttwork-secondary-color;
      }
    }
  }
  
  .artwork-tags-list {
    width: 100%;
    .mat-chip {
      padding: 7px 8px !important;
      font-size: .875rem;
      color: $arttwork-primary-color !important;
      background-color: #3d7cf326 !important;
      border-radius: $arttwork-border-radius;
    }
  }

.collectors-list {
    border-radius: $arttwork-border-radius;
    background-color: $arttwork-background-color;
    padding: .5rem;
    min-height: 32rem;
    .collector-item {
      padding: .875rem;
      border-radius: $arttwork-border-radius;
      &:hover, &.active {
        background-color: #e9eef4;
      }
      .collector-item__img {
        > img {
          width: 46px;
          height: 46px;
          border-radius: 50%;
        }
        margin-right: 12px;
      }
      .collector-item__wrapper {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: space-between;
        .collector-item__title {
          font-size: 1rem;
          max-width: 216px;
          color: $arttwork-primary-color;
        }
        .collector-item__desc {
          font-size: .875rem;
          max-width: 216px;
          color: $arttwork-secondary-color;
        }
      }
    }
  }