.user-info-container {
    padding: 2.5rem 11px 0 11px;
    display: flex;
    flex-direction: column;

    .user-info-row {
        display: flex;
    }
    .user-info-row:first-child {
        margin-bottom: 1.25rem;
    }

    .user-avatar-container {
        img {
            width: 48px;
            height: 48px;
            border-radius: 50%;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            object-fit: cover;
            object-position: center;
        }
    }

    .user-intro-container {
        width: 100%;
        margin-left: 14px;

        .kt-aside--minimize & {
            display: none;
        }

        .user-greeting {
            display: flex;
            transition: kt-get($kt-aside-config, base, minimize, transition)
        }

        .user-greeting {
            margin-bottom: 9px;
        }

        .user-intro-welcome, .user-intro-username {
            text-transform: capitalize;
            font-weight: 600;
            font-size: 17px;
            line-height: 20px;
        }

        .user-intro-username {
            max-width: 120px;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }

    .balance-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 3rem;
        padding: 0 .5rem;
        transition: kt-get($kt-aside-config, base, minimize, transition);

        .kt-aside--minimize & {
            width: 1px;
        }

        p {
            text-overflow: clip;
            overflow: hidden;
            margin: 0;
            font-size: .875rem;
            height: 1rem;
            font-weight: 600;
        }
        p.current-balance {
            margin-top: .625rem;
            font-size: 1.125rem;
            height: 1.3rem; 
            font-weight: 500;
        }
    }
}

@include kt-tablet-and-mobile {
	.user-intro-container {
        .kt-aside--minimize & {
            display: block;
        }
    }

    .dropdown-menu.dropdown-menu-xl {
        width: 100%;
    }
}