//
// Topbar
//




// Variables
$kt-header-topbar-item-size: 50px;
$kt-header-topbar-large-flag-size: 17px;
$kt-header-topbar-item-svg-size: 24px;
$kt-header-topbar-user-avatar-size: 34px;
$kt-header-topbar-item-size-mobile: 34px;
$kt-header-topbar-item-svg-size-mobile: 30px;
$kt-header-topbar-user-avatar-size-mobile: 30px;

.kt-header__topbar {
	display: flex;
	align-items: stretch;
	padding: 0;
	padding-right: 25px;

	.kt-header__topbar-item {
		display: flex;
		align-items: stretch;
		margin: 0;
		margin-right: 2.5rem;

		&.kt-header__topbar-item-logout {
			margin-right: 0 ;
		}

		.kt-header__topbar-wrapper {
			cursor: pointer;
			display: flex;
			align-items: stretch;

			.kt-badge.kt-badge--notify {
				position: absolute;
				left: 50%;
				margin-left: -2px;
				top: 14px;
			}
		}

		.kt-header__topbar-icon {
			display: flex;
			align-items: center;
			align-self: center;
			justify-content: center;
			height: $kt-header-topbar-item-size;
			width: $kt-header-topbar-item-size;
			cursor: pointer;
			@include kt-transition();

			@include kt-rounded {
				border-radius: $kt-border-radius;
			}

			i {
				@include kt-transition();
				font-size: 1.4rem;
				color: #ffffff;
			}	

			svg {
				height: $kt-header-topbar-item-svg-size;
				width: $kt-header-topbar-item-svg-size;
			}
		}		

		// User profile
		&.kt-header__topbar-item--user {
			.kt-header__topbar-user {
				padding: 0 8px;
				display: flex;
				align-items: center;
				align-self: center;
				justify-content: center;
				height: $kt-header-topbar-item-size;
				cursor: pointer;

				@include kt-rounded {
					border-radius: $kt-border-radius;
				}
				
				.kt-header__topbar-welcome {
					display: flex;
					align-self: center;
					padding: 0 0.55rem 0 0;
					font-weight: 500;
					font-size: 0.9rem;
					color: #636177;
				}

				.kt-header__topbar-username {
					display: flex;
					align-self: center;
					padding: 0 0.55rem 0 0;
					font-weight: 500;
					font-size: 1rem;
					color: #fff;
				}

				img {
					align-self: center;
					max-height: $kt-header-topbar-user-avatar-size;
					
					@include kt-rounded {
						border-radius: $kt-border-radius;
					}
				}

				.kt-badge.kt-badge--username {
					height: $kt-header-topbar-user-avatar-size;
					width: $kt-header-topbar-user-avatar-size;

					@include kt-rounded {
						border-radius: $kt-border-radius;
					}
				}
			}
		}		

		// Languages
		&.kt-header__topbar-item--langs {
			.kt-header__topbar-icon {
				img {
					@include kt-rounded {
						border-radius: $kt-border-radius;
					}

					width: $kt-header-topbar-large-flag-size;
				}
			}

			.dropdown-menu {
				.kt-nav__link-icon {
					padding-right: 10px;

					img {
						@include kt-rounded {
							border-radius: $kt-border-radius;
						}

						width: 18px;
					}
				}
			}
		}

		// Roles
		&.kt-header__topbar-item--roles {
			.kt-header__role-selector-toggle {
				padding: 0 1.25rem;

				&:hover,
				&.show {
					// background-color: $arttwork-background-color;
					background-color: transparent;

					.kt-header__topbar-icon {
						background-color: transparent;
						// background-color: $arttwork-background-color;
					}
				}

				.kt-header__topbar-role-selctor-icon {
					display: flex;
					align-items: center;
					align-self: center;
					justify-content: center;
					cursor: pointer;
					transition: all .3s;
					border-radius: 4px;
					padding-right: 8px;
					
					i {
						font-size: 1.25rem;
						color: $arttwork-secondary-color;
					}
				}
	
				.kt-header__topbar-role-selector-text {
					display: flex;
					align-items: center;
					justify-content: space-between;
					font-weight: 600;
					font-size: 1rem;
					color: $arttwork-secondary-color;
	
					&:after {
						text-align: center;
						display: inline;
						border: 0;
						font-size: 0.6rem;
						line-height: 0;
						vertical-align: middle;
						position: relative;
						margin-left: 0.5rem#{'/*rtl:ignore*/'};
						opacity: 0.7;
				
						//@include kt-arrow-icon(down, true);
						@include kt-flaticon2-icon(kt-get($kt-action-bold-icons, down));
					}
				}
			}

			.dropdown-menu {
				border: 1px solid $arttwork-background-color;
				box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
				min-width: 10rem;

				li {
					padding: 0;

					a.kt-nav__link {
						padding: .75rem 1.25rem;

						.kt-nav__link-icon {
							padding-right: 8px;

							i {
								font-size: 1.25rem;
							}
						}
		
						.kt-nav__link-text {
							color: $arttwork-secondary-color;
							font-weight: 500;
							font-size: 1rem;
						}
					}

					&:hover {
						a.kt-nav__link {
							.kt-nav__link-text {
								color: $arttwork-secondary-color;
							}
						}
					}
				}
			}
		}

		&:hover,
		&.show {
			.kt-header__topbar-icon {
				@include kt-transition();
				background-color: rgba(#212029, 0.7);

				i {
					@include kt-transition();
					color: #fff;
				}	
			}

			&.kt-header__topbar-item--user {
				.kt-header__topbar-user {
					@include kt-transition();
				}	
			}
		}	
	}
}

@include kt-tablet-and-mobile {
	.kt-header__topbar {
		padding: 0 kt-get($kt-page-padding, mobile);
		background-color: #2b2a35;
		box-shadow: 0px 1px 9px -3px rgba(0,0,0, 0.1);
		transition: all 0.3s ease;
		margin-top: -(kt-get($kt-header-config, topbar, height, mobile));
		height: kt-get($kt-header-config, topbar, height, mobile);
		position: absolute;
		left: 0;
		right: 0;
		justify-content: flex-end;

		// Fixed mobile header
		.kt-header-mobile--fixed & {
			position: fixed;
			z-index: kt-get($kt-header-config, base, mobile, self, fixed, zindex) - 1;
		}

		// Topbar shown
		.kt-header__topbar--mobile-on & {
			margin-top: 0;
			transition: all 0.3s ease;
		}

		// Topbar item
		.kt-header__topbar-item {
			margin: 0 2px;
			padding: 0;

			.kt-header__topbar-wrapper {
				display: flex;
				align-items: stretch;

				.kt-badge.kt-badge--notify {
					top: 6px;
				}
			}

			.kt-header__topbar-icon {
				height: $kt-header-topbar-item-size-mobile;
				width: $kt-header-topbar-item-size-mobile;

				i {
					font-size: 1.3rem;
				}	
			}		

			&.kt-header__topbar-item--user {
				margin-left: 2px;
				margin-right: 0;
				padding: 0;

				.kt-header__topbar-user {
					padding: 0 2px;
					height: $kt-header-topbar-item-size-mobile;

					.kt-header__topbar-welcome {
						padding: 0 0.35rem 0 0;
						font-size: 0.9rem;
					}

					.kt-header__topbar-username {
						padding: 0 0.55rem 0 0;
						font-size: 0.9rem;
					}

					img {
						max-height: $kt-header-topbar-user-avatar-size-mobile;
					}

					.kt-badge.kt-badge--username {
						height: $kt-header-topbar-user-avatar-size-mobile;
						width: $kt-header-topbar-user-avatar-size-mobile;
					}
				}
			}		
		}

		.kt-header__topbar-item-logout.kt-header__topbar-item {
			margin-right: 0 !important;
		}
	}
}

@include kt-mobile-sm {
	.kt-header__topbar {
		.kt-header__topbar-item {
			margin-right: 1.5rem;
	
			&.kt-header__topbar-item-logout {
				margin-right: 0 ;
			}

			&.kt-header__topbar-item--roles {
				.kt-header__topbar-role-selector-text {
					.kt-header__topbar-role-selector-title {
						display: none;
					}
				}
			}
		}
	}
}