$arttwork-background-color: #F3F5F9;
$arttwork-shadow-color: #F7F7F7;

$arttwork-brand-color: #3D7CF3;
$arttwork-primary-color: #112233;
$arttwork-secondary-color: #93AFCA;

$arttwork-red-family-color: #FA4B4B;
$arttwork-green-family-color: #11B36C;
$arttwork-blue-family-color: #3D7CF3;
$arttwork-yello-family-color: #EDB014;
$arttwork-info-family-color: #2D407B;
$arttwork-white-family-color: #F3F5F9;

$arttwork-brand-hover-color: #5890FB;
$arttwork-brand-active-color: #3476F3;

$arttwork-secondary-hover-color: rgba(147, 175, 202, 0.8);
$arttwork-secondary-active-color: #82A1BE;

$arttwork-green-family-hover-color: #1DD484;
$arttwork-green-family-active-color: #0FA362;

$arttwork-border-color: $arttwork-secondary-color;
$arttwork-border-secondary-color: #e9ecf9;
$arttwork-border-radius: 6px;

$arttwork-facebook-color: #4267B2;
$arttwork-twitter-color: #1DA1F2;
$arttwork-google-color: #DB4437;

/* normalize */
body {
  font-weight: 500 !important; // should specially define the font-weight value for the header elements
  line-height: 1.2 !important;
}

h1 {
  font-weight: bold;
}
h2, h3, h4, h5 {
  font-weight: 600;
}
h6 {
  font-weight: 500;
}

input {
  font-family: 'AvenirNextLTPro';
  color: $arttwork-primary-color !important;
  font-size: 1.125rem !important;
}

::placeholder {
  font-family: 'AvenirNextLTPro';
  color: $arttwork-secondary-color !important;
  font-size: 1.125rem !important;
}

/* custom bootstrap */
.form-group {
  margin-bottom: 17px; // in the case theme uese material input box, for the default, 30px;
}

.btn {
  border-radius: 6px;
}

.btn-primary, .btn-brand {
  background-color: $arttwork-brand-color;
  &:focus {
    background-color: $arttwork-brand-color;
  }
  &:hover {
    background-color: $arttwork-brand-hover-color !important;  
  }
  &:active {
    background-color: $arttwork-brand-active-color !important;
  }
}

.btn-secondary {
  background-color: $arttwork-secondary-color;
  &:focus {
    background-color: $arttwork-secondary-color;
  }
  &:hover {
    color: #fff;
    background-color: $arttwork-secondary-hover-color !important;
  }
  &:active {
    color: #fff !important;
    background-color: $arttwork-secondary-active-color !important;  
  }
}

.btn-green {
  background-color: $arttwork-green-family-color;
  &:hover, &:focus {
    color: #fff;
    background-color: $arttwork-green-family-hover-color !important;
  }
  &:active {
    color: #fff !important;
    background-color: $arttwork-green-family-active-color !important;  
  }
}

.btn-facebook:hover {
  background-color: rgba(66, 103, 178, 0.8);
  border-color: rgba(66, 103, 178, 0.5);
}

.btn-twitter:hover {
  background-color: rgba(29, 161, 242, 0.8);
  border-color: rgba(29, 161, 242, 0.5);
}

.btn-google:hover {
  background-color: rgba(219, 68, 55, 0.8);
  border-color: rgba(219, 68, 55, 0.5);
}

/* custom angular material */
.mat-form-field-label {
  /*change color of label*/
  font-family: 'AvenirNextLTPro';
  color: $arttwork-secondary-color !important;
  font-size: 1rem !important;
}

.mat-form-field-underline {
  /*change color of underline*/
  height: 2px !important;
  background-color: $arttwork-border-color !important;
  opacity: .3;
} 

.mat-form-field-ripple {
  /*change color of underline when focused*/
  height: 2px !important;
  background-color: $arttwork-brand-color !important;
}

.mat-select {
  .mat-error {
    color: $arttwork-red-family-color;
  }
  
  .mat-select-value {
    color: $arttwork-primary-color;
  }
  
  .mat-option-text {
    color: $arttwork-primary-color;
  }
}

.mat-checkbox-frame {
  border-color: $arttwork-secondary-color;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: $arttwork-secondary-color;
}

.mat-datepicker-toggle {
  color: $arttwork-secondary-color;
  &.mat-datepicker-toggle-active {
    color: $arttwork-secondary-active-color;
  }
}
/* arttwork component */
.arttwork-card {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0px 0px 30px 0px $arttwork-shadow-color;
  overflow: hidden;
}

.artwork-font-bold {
  font-weight: 600;
}

.artwork-header {
  font-weight: 600;
  font-size: 1.5rem;
}

.artwork-header-description {
  font-weight: 600;
  font-size: 1.25rem;
}

.artwork-btn {
  height: 54px;
  font-weight: 600;
  font-size: 1.125rem;
  color: #fff;
  border: transparent;
}

a.artwork-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.artwork-btn-white-family {
  color: $arttwork-secondary-color !important;
  background-color: $arttwork-white-family-color !important;
  &:focus {
    color: $arttwork-secondary-color !important;
    background-color: $arttwork-white-family-color !important;
  }
  &:hover {
    color: #fff !important;
    background-color: $arttwork-secondary-color !important;
  }
  &:active {
    color: $arttwork-secondary-color !important;
    background-color: #F4F6FC !important;
  }
  &:disabled {
    color: $arttwork-secondary-color !important;
    background-color: $arttwork-white-family-color !important;
  }
}

.artwork-datatable-filter {
  width: 100%;
  input {
    font-size: .875rem !important;
  }
  .mat-form-field-label {
    font-size: .875rem !important;
    margin: .1rem 0 .1rem;
  }
}

.artwork-modal {
  .modal-dialog {
    .modal-content {
      .modal-header {
        border: none;
        padding: 1.25rem;
        .modal-title {
          display: none;
        }
        .close {
          float: none;
          margin: 0;
          padding: 0;
          position: absolute;
          height: auto;
          right: 1.5rem;
          top: 1.5rem;
          line-height: 1;
          font-size: 1rem;
          &:before {
            font-size: 1rem;
          }
        }
      }
      .modal-body {
        padding: 0 2.5rem 2.5rem;
      }
      .modal-footer {
        border: none;
        padding: 2.5rem;
      }
    }
  }
}

.artwork-data-table {
  font-family: 'AvenirNextLTPro';
  .mat-header-row, .mat-row {
    border-bottom-color: $arttwork-white-family-color;
  }
  .mat-row {
    padding: 1rem 0;
  }
  .mat-header-cell {
    font-size: .875rem;
    color: $arttwork-secondary-color;
    .mat-sort-header-container button {
      text-align: left;
    }
  }
  .mat-cell {
    font-size: .875rem;
    color: $arttwork-primary-color;
  }
  .mat-header-cell, .mat-cell {
    &:not(:first-child) {
      padding-left: .5rem;
    }
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
  }
}

.artwork-paginator {
  font-family: 'AvenirNextLTPro';
  font-size: .875rem;
  color: $arttwork-secondary-color;
}

.ng-select.artwork {
  min-width: 100px;
  .ng-select-container, .ng-select-focused:not(.ng-select-opened)>.ng-select-container {
    background-color: #F4FAFE;
    border-radius: $arttwork-border-radius;
    border: 1px solid rgba(147, 175, 202, 0.12) !important;
    color: $arttwork-secondary-color;
    font-size: .875rem;
    box-shadow: none;

    .ng-value-container {
      padding: 0 1rem;
    }

    .ng-value {
      span {
        margin-left: .875rem;
      }
    }
    
    .ng-arrow-wrapper {
      padding: 0;
    }
  }
  .ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
    padding: 0.5rem 1rem;
    color: $arttwork-secondary-color;
    font-size: .875rem;
  }
  
  .ng-dropdown-panel.ng-select-bottom {
    margin-top: 0.5rem;
    border: 1px solid $arttwork-background-color;
    background-color: #fff;
    border-radius: $arttwork-border-radius; //#f7f8fa
    padding: 0.625rem 0;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
  }

  .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
    color: $arttwork-primary-color;
    background-color: #f7f8fa;
  }
  // .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected, .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
  //   background-color: #f7f8fa;
  // }

  .ng-arrow-wrapper .ng-arrow {
    border-color: $arttwork-secondary-color transparent transparent;
  }

  &.ng-select-opened>.ng-select-container .ng-arrow {
    border-color: transparent transparent $arttwork-secondary-color !important;
  }
}

.balance-board {
  background-color: $arttwork-background-color;
  .balance {
    .ng-select.artwork {
      min-width: 66px;
      .ng-select-container, .ng-select-focused:not(.ng-select-opened) > .ng-select-container {
        background-color: $arttwork-background-color !important;
        border: 1px solid transparent !important;
        font-size: 12px;
        .ng-value-container {
          padding: 0 .2rem;
        }
      }
      .ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
        color: $arttwork-secondary-color;
        font-size: 12px;
      }
    }
  }
}

/* custom kt-components */
.kt-subheader.artwrok-has-submenu {
  padding: 36px 0 0;
  .title-wrap {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }
}

.artwork-datatable-action {
  font-size: .875rem;
  height: auto !important;
}

.kt-subheader .kt-container.artwork-container {
  width: 100% !important;
  display: block;
}

.kt-portlet.artwork-portlet {
   .kt-portlet__head {
     padding: 25px 25px 0 25px;
   }

   &.has-see-all {
     .kt-portlet__body {
       justify-content: space-between;
     }
   }
}

// inserted by Achilles
.kt-badge.kt-badge--arttwork {
  padding: .5rem .375rem;
  font-size: .875rem;
  font-weight: 500;
}
.kt-badge.kt-badge--green {
  background-color: rgba($arttwork-green-family-color, 0.1);
  color: $arttwork-green-family-color;
}
.kt-badge.kt-badge--blue {
  background-color: rgba($arttwork-blue-family-color, 0.1);
  color: $arttwork-blue-family-color;
}
.kt-badge.kt-badge--red {
  background-color: rgba($arttwork-red-family-color, 0.1);
  color: $arttwork-red-family-color;
}
.kt-badge.kt-badge--secondary {
  background-color: rgba($arttwork-secondary-color, 0.1);
  color: $arttwork-secondary-color;
}
.kt-badge.kt-badge--info {
  background-color: rgba(#1F78B4, 0.1);
  color: $arttwork-info-family-color;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#myaccount-followers-portlet-container {
  ul.pagination {
    li.first-item, li.previous-item, li.next-item, li.last-item {
      display: none;
    }

    li.page-item {
      a.page-link {
        background-color: transparent;
        border: none;
        font-size: 0.875rem;
        cursor: pointer;
        color: $arttwork-secondary-color;
        font-weight: 500;
      }
      a.page-link:hover {
        font-weight: 600;
      }
    }

    li.page-item.active {
      a.page-link {
        font-weight: 600;
        color: $arttwork-brand-color;
      }
    }
  }
}

.kt-portlet.artwork-portlet.bill-portlet-left {
  .kt-portlet__head {
    padding: 90px 50px 30px 50px;

    .kt-portlet__head-title {
      font-size: 1.5rem;
    }
  }

  .kt-portlet__body {
    padding: 40px 50px;
  }

  h4 {
      margin-bottom: 2.5rem;
  }
}

.kt-portlet.artwork-portlet.bill-portlet-right {
  .kt-portlet__head {
    padding: 90px 34px 30px 34px;

    .kt-portlet__head-title {
      font-size: 1.5rem;
    }
  }

  .kt-portlet__body {
    padding: 34px 30px;
  }

  h4 {
    margin-bottom: 1.875rem;
  }
}

// customize ngx-toastr
.toast-container .ngx-toastr {
  width: 450px;
  @media (max-width: 425px) {
    width: 100%;
  }
}

// I wonder if this is correct but no way
@media (max-width: 1024px) {
  .mat-select-trigger {
    height: 1.75em !important;
  }
}
@media (min-width: 1024px) {
  .mat-select-trigger {
    height: 1.25em !important;
  }
}

.artwork-data-table-search {
  border: 2px solid $arttwork-border-secondary-color;
  border-radius: $arttwork-border-radius;
  flex-wrap: nowrap;
  width: auto;

  input {
    max-width: 10rem;
    outline: none;
    border: none;
    padding: .875rem;
    font-size: .875rem !important;
    font-weight: 500;

    &::placeholder {
      font-size: .875rem !important;
    }
  }
  .input-group-text {
    border: none;
    background-color: white;
    i {
      color: $arttwork-secondary-color;
      font-size: .875rem;
    }
  }
}

.datatable-container {
	display: flex;
	flex-direction: column;
	overflow-x: auto;
	position: relative;
	.mat-table {
		min-width: 640px;
		min-height: 300px;
	}

	.datatable-loading-shade {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background: rgba(0, 0, 0, 0.05);
		z-index: 1;
		display: flex;
		align-items: center;
		justify-content: center;

		.datatable-rate-limit-reached {
			color: $arttwork-red-family-color;
			max-width: 360px;
			text-align: center;
		}
	}
}