$arttwork-background-color: #F3F5F9;
$arttwork-shadow-color: #F7F7F7;

$arttwork-brand-color: #3D7CF3;
$arttwork-primary-color: #112233;
$arttwork-secondary-color: #93AFCA;

$arttwork-red-family-color: #FA4B4B;
$arttwork-green-family-color: #11B36C;
$arttwork-blue-family-color: #3D7CF3;
$arttwork-yello-family-color: #EDB014;
$arttwork-info-family-color: #2D407B;
$arttwork-white-family-color: #F3F5F9;

$arttwork-brand-hover-color: #5890FB;
$arttwork-brand-active-color: #3476F3;

$arttwork-secondary-hover-color: rgba(147, 175, 202, 0.8);
$arttwork-secondary-active-color: #82A1BE;

$arttwork-border-color: $arttwork-secondary-color;
$arttwork-border-radius: 6px;

$arttwork-facebook-color: #4267B2;
$arttwork-twitter-color: #1DA1F2;
$arttwork-google-color: #DB4437;

/* normalize */
* {
  font-weight: 500; // should specially define the font-weight value for the header elements
  line-height: 1.2;
}

h1 {
  font-weight: bold;
}
h2, h3, h4, h5 {
  font-weight: 600;
}
h6 {
  font-weight: 500;
}

input {
  color: $arttwork-secondary-color !important;
  font-size: 18px !important;
}

::placeholder {
  color: $arttwork-secondary-color !important;
  font-size: 18px !important;
}

/* custom bootstrap */
.form-group {
  margin-bottom: 17px; // in the case theme uese material input box, for the default, 30px;
}

.btn {
  border-radius: 6px;
}

.btn-primary, .btn-brand {
  background-color: $arttwork-brand-color;
  &:focus, &:hover {
    background-color: $arttwork-brand-hover-color !important;  
  }
  &:active {
    background-color: $arttwork-brand-active-color !important;
  }
}

.btn-secondary {
  background-color: $arttwork-secondary-color;
  &:hover, &:focus {
    color: #fff;
    background-color: $arttwork-secondary-hover-color !important;
  }
  &:active {
    color: #fff !important;
    background-color: $arttwork-secondary-active-color !important;  
  }
}

.btn-facebook:hover {
  background-color: rgba(66, 103, 178, 0.8);
  border-color: rgba(66, 103, 178, 0.5);
}

.btn-twitter:hover {
  background-color: rgba(29, 161, 242, 0.8);
  border-color: rgba(29, 161, 242, 0.5);
}

.btn-google:hover {
  background-color: rgba(219, 68, 55, 0.8);
  border-color: rgba(219, 68, 55, 0.5);
}

/* custom angular material */
.mat-form-field-label {
  /*change color of label*/
  color: $arttwork-secondary-color !important;
  font-size: 16px !important;
}

.mat-form-field-underline {
  /*change color of underline*/
  height: 2px !important;
  background-color: $arttwork-border-color !important;
  opacity: .3;
} 

.mat-form-field-ripple {
  /*change color of underline when focused*/
  height: 2px !important;
  background-color: $arttwork-brand-color !important;
}

.mat-error {
  color: $arttwork-red-family-color;
}

.mat-select-value {
  color: $arttwork-secondary-color;
}

.mat-option-text {
  color: $arttwork-primary-color;
}

.mat-checkbox-frame {
  border-color: $arttwork-secondary-color;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: $arttwork-secondary-color;
}

.mat-datepicker-toggle {
  color: $arttwork-secondary-color;
  &.mat-datepicker-toggle-active {
    color: $arttwork-secondary-active-color;
  }
}
/* arttwork component */
.arttwork-card {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0px 0px 30px 0px $arttwork-shadow-color;
  overflow: hidden;
}

.artwork-font-bold {
  font-weight: 600;
}

.artwork-header {
  font-weight: 600;
  font-size: 24px;
}

.artwork-header-description {
  font-weight: 600;
  font-size: 20px;
}

.artwork-btn {
  height: 54px;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  border: transparent;
}

a.artwork-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.artwork-btn-white-family {
  color: $arttwork-secondary-color !important;
  background-color: $arttwork-white-family-color !important;
  &:hover {
    color: #fff !important;
    background-color: $arttwork-secondary-color !important;
  }
  &:active {
    color: $arttwork-secondary-color !important;
    background-color: #F4F6FC !important;
  }
}

.artwork-modal {
  .modal-dialog {
    .modal-content {
      .modal-header {
        border: none;
        padding: 1.25rem;
        .modal-title {
          display: none;
        }
        .close {
          float: none;
          margin: 0;
          padding: 0;
          position: absolute;
          height: auto;
          right: 1.5rem;
          top: 1.5rem;
          line-height: 1;
          font-size: 1rem;
          &:before {
            font-size: 1rem;
          }
        }
      }
      .modal-body {
        padding: 0 2.5rem 2.5rem;
      }
      .modal-footer {
        border: none;
        padding: 2.5rem;
      }
    }
  }
}

.ng-select.artwork {
  min-width: 100px;
  .ng-select-container, .ng-select-focused:not(.ng-select-opened)>.ng-select-container {
    background-color: #F4FAFE;
    border-radius: $arttwork-border-radius;
    border: 1px solid rgba(147, 175, 202, 0.12) !important;
    color: $arttwork-secondary-color;
    font-size: 14px;
    box-shadow: none;

    .ng-value-container {
      padding: 0 1rem;
    }

    .ng-value {
      span {
        margin-left: .875rem;
      }
    }
    
    .ng-arrow-wrapper {
      padding: 0;
    }
  }
  .ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
    padding: 0.5rem 1rem;
    color: $arttwork-secondary-color;
    font-size: 14px;
  }
  
  .ng-dropdown-panel.ng-select-bottom {
    margin-top: 0.5rem;
    border: 1px solid $arttwork-background-color;
    background-color: #fff;
    border-radius: $arttwork-border-radius; //#f7f8fa
    padding: 0.625rem 0;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
  }

  .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
    color: $arttwork-primary-color;
    background-color: #f7f8fa;
  }
  // .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected, .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
  //   background-color: #f7f8fa;
  // }

  .ng-arrow-wrapper .ng-arrow {
    border-color: $arttwork-secondary-color transparent transparent;
  }

  &.ng-select-opened>.ng-select-container .ng-arrow {
    border-color: transparent transparent $arttwork-secondary-color !important;
  }
}

.balance-board {
  background-color: $arttwork-background-color;
  .balance {
    .ng-select.artwork {
      min-width: 66px;
      .ng-select-container, .ng-select-focused:not(.ng-select-opened) > .ng-select-container {
        background-color: $arttwork-background-color !important;
        border: 1px solid transparent !important;
        font-size: 12px;
        .ng-value-container {
          padding: 0 .2rem;
        }
      }
      .ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
        color: $arttwork-secondary-color;
        font-size: 12px;
      }
    }
  }
}

/* custom kt-components */
.kt-subheader .kt-container.artwork-container {
  width: 100% !important;
  display: block;
}

.kt-portlet.artwork-portlet {
   .kt-portlet__head {
     padding: 25px 25px 0 25px;
   }
}

// inserted by Achilles
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#myaccount-followers-portlet-container {
  ul.pagination {
    li.first-item, li.previous-item, li.next-item, li.last-item {
      display: none;
    }

    li.page-item {
      a.page-link {
        background-color: transparent;
        border: none;
        font-size: 0.875rem;
        cursor: pointer;
        color: $arttwork-secondary-color;
        font-weight: 500;
      }
      a.page-link:hover {
        font-weight: 600;
      }
    }

    li.page-item.active {
      a.page-link {
        font-weight: 600;
        color: $arttwork-brand-color;
      }
    }
  }
}

.kt-portlet.artwork-portlet.bill-portlet-left {
  .kt-portlet__head {
    padding: 90px 50px 30px 50px;

    .kt-portlet__head-title {
      font-size: 1.5rem;
    }
  }

  .kt-portlet__body {
    padding: 40px 50px;
  }

  h4 {
      margin-bottom: 2.5rem;
  }
}

.kt-portlet.artwork-portlet.bill-portlet-right {
  .kt-portlet__head {
    padding: 90px 34px 30px 34px;

    .kt-portlet__head-title {
      font-size: 1.5rem;
    }
  }

  .kt-portlet__body {
    padding: 34px 30px;
  }

  h4 {
    margin-bottom: 1.875rem;
  }
}

// I wonder if this is correct but no way
@media (max-width: 1024px) {
  .mat-select-trigger {
    height: 1.75em !important;
  }
}
@media (min-width: 1024px) {
  .mat-select-trigger {
    height: 1.25em !important;
  }
}
